@model MVCPersonlSite.UI.MVC.Models.ContactViewModel

<div>
    @if (Model != null)
    {
        <h2>Thank you for you message @Model.Name.</h2>
        <p>I will get back to you at @Model.Email as soon as possible!</p>
    }
</div>